@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@import "preline/variants.css";
@source "../node_modules/preline/dist/*.js";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --main-color-1: #655eab;
  --main-color-2: #918ce6;
  --main-color-3: #381750;

  --alt-color-1: #c59776;
  --alt-color-2: #e6bf98;
  --alt-color-3: #fee0bc;
  --alt-color-4: #fff6d9;
  --alt-color-5: #fbf8f3;

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-main-color-1: var(--main-color-1);
  --color-main-color-2: var(--main-color-2);
  --color-main-color-3: var(--main-color-3);

  --color-alt-color-1: var(--alt-color-1);
  --color-alt-color-2: var(--alt-color-2);
  --color-alt-color-3: var(--alt-color-3);
  --color-alt-color-4: var(--alt-color-4);
  --color-alt-color-5: var(--alt-color-5);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-noto-kufi-arabic: var(--font-noto-kufi-arabic);
}

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

/* Scrollbar Start */
/* width */
::-webkit-scrollbar {
  @apply w-2 rounded-full;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gradient-to-t from-alt-color-3 to-alt-color-4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-t from-alt-color-1 to-alt-color-2 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply from-alt-color-1/70 to-alt-color-2/70;
}
/* Scrollbar End */
